body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.section__title {
     text-align: center;
    margin-bottom: 42px;
    font-size: 38px;
    color: #2c3e50;
    position: relative;
}

.section__title::after {
    content: '';
    display: block;
    width: 100px;
    height: 3px;
    background-color:#3498db;
    margin-left: -50px;
    position: absolute;
    bottom: -10px;
    left: 50%
}

.section__grid {
    display: flex;
    gap: 5%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.button {
    display: inline-block;
    font-size: 16px;
    padding: 12px 24px;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    position: relative;
    color: #fff;
    background-color: #333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #222;
}

.button--cta {
    background-color: #e74c3c;
}

.button--cta:hover {
    background-color: #c0392b;
}

.button--primary {
    background-color: #3498db;
}

.button--primary:hover {
    background-color: #2980b9;
}

.button--success {
    background-color: #27ae60;
}

.button--success:hover {
    background-color: #1e8449;
}

.button--default {
    background-color: #2c3e50;
}

.button--default:hover {
    background-color: #1a252f;
}

.footer {
    background-color: #1a252f;
    color: #7f8c8d;
    text-align: center;
    padding: 42px 0;
}

.footer__menu {
    list-style: none;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    gap: 35px;
}

.footer__link > a {
    color: #7f8c8d;
    text-decoration: none;
    font-size: 14px;
}