.navbar {
    background-color: #111;
    color: #fff;
    padding: 16px 0px;
}

.navbar__container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar__menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar__link {
    text-decoration: none;
    color: #fff;
}

.navbar__link:hover,
.navbar__link--active {
    border-bottom: 2px solid #fff;
}