/*BEM --> LARGE AND SCALABLE PROJECTS*/
.card {
    /* border: 2px solid #cccccc; */
    border-width: 2px;
    border-style: solid;
    border-color: #cccccc;
    border-radius: 10px;
    width: 25%;
    ;
    max-width: 275px;
    background-color: #f9f9f9;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.2);
}

.card__header {
    background-color: #f0f0f0;
}

.card__image {
    width: 100%;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card__body {
    padding: 14px;
    /* padding-top: 10px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 16px; */
}

.card__title {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;
    font-size: 20px;
}

.card__description {
    color: #333;
    font-size: 14px;
}

.card__footer {
    padding: 14px;
    border-top: 1px solid #eee;
}
