.cta {
    padding: 60px 0px;
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    position: relative;
    height: 400px;
}

.cta__content {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}
.cta__title {
    font-size: 36px;
    margin-bottom: 20px;
}
.cta__description {
    font-size: 18px;
    margin-bottom: 30px;
}