.hero {
    background-image: linear-gradient(to bottom, rgba(44, 62, 80, 0.8), rgba(44, 62, 80,0.8)), url('https://media.istockphoto.com/id/1503858430/vector/website-software-development-concept-web-design-site-and-mobile-app-on-laptop-testing-on.jpg?s=612x612&w=0&k=20&c=k8ckKsgOrPPxohAA_ywg2VXZzdCPptEbOlleRV8Kb7c=');
    background-size: cover;
    background-position: center;
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 96px 0;
    margin-top: 65px;
    position: relative;
}

.hero__content {
    position: relative;
    z-index: 2;
}

.hero__title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    margin-bottom: 16px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero__description {
    font-size: 18px;
    max-width: 600px;
    margin: 0 auto 32px;
}