/* Button Classes */
/* simple naming convention --> Small or Medium projects */

/* BLOCK ELEMENT */
.button {
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 12px rgba(0, 123, 255, 0.2);
}

/* ELEMENTS */

/* MODIFIERS */

.button--primary {
    background-color: #007bff;
}

.button--danger {
    background-color: #dc3545;
}

.button--info {
    background-color: #17a2b8;
}

.button--success {
    background-color: #28a745;
}

/* PSEUDO CLASSES & STATES */

.button--primary:hover {
    background-color: #0056b3;
    cursor: pointer;
}

.button--primary:focus {
    outline: none;
    box-shadow: 0px 2px 12px rgba(0, 123, 255, 0.4);
}